ion-content {
    --background:#0494f3fa ;
   // background-image: url('/assets/images/bruise_blue.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.item{
    padding-left: 15%;
    
}
ion-item{
    --background:none;
}
